<div class="col-xs-12">
	<table>
		<tr>
			<td><%= @function.responsibility %></td>
		</tr>
	</table>
	<%#<div align="right">
		 <%= link_to 'Remove', expertise, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm" %><%#
	</div>%>
</div>