<p>Hello <%= @appliedprogram.trainer.full_name %>,</p>
<p>Thanks for applying for <span color="orange"><%= @appliedprogram.program.name %></span></p><br>
<p><b>Details</b></p>
<table class="customtable">
</table>
<p>Regards,<p>
<p>Traix</p>