<p>Hello <%= @contactu.name %></p>
<p>Thanks for contacting ur regarding <b><%= @contactu.subject %></b></p><br>
<p><b>Message</b><br>
<%= @contactu.message %></p>
<p>Be assured, we will get back to you on this as soon as we can</p><br>
<p>Regards,<p>
<p>Traix</p>