<div class="col-xs-12 col-md-12 col-sm-12" style="background-color: #E5E5E5; padding:60px;">
  <div class="col-xs-6 col-md-3 col-sm-6" style="padding-left:10px;">
    <%= link_to(image_tag("http://traix.in/assets/logo.png", :width=>"25%"),"http://traix.in") %>
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12">    
    <div style="margin-top:20px;font-family:lato;font-size:16px;padding:20px;background-color:#fff;">
      <p>Hello <%= @recruiter.firm_name %>,</p>
      
      <p>Your account details updated successfully.</p>
      <br>
      <p>If you didn't updated your details, please <a href="http://traix.in/contact-us">report</a> or for any further query, please contact:<br> hello@traix.in</p><br>
      <p>Regards,</p>
      <p>Traix Team.</p>
    </div>
  </div>
  <%#<div class="col-x-12 col-sm-12 col-md-12" style="padding:20px;text-align:center">
    <b>Available on</b><br>
    <a href="#"><img src="http://traix.in/assets/icons/apple.png", width="3%"></a> &nbsp; | 
    <a href="#"><img src="http://traix.in/assets/icons/android.png", width="3%"></a> &nbsp; | 
    <a href="#"><img src="http://traix.in/assets/icons/windows.png", width="3%"></a>
  </div>%>
  <div class="col-x-12 col-sm-12 col-md-12" style="padding-left:0px;">
    <span style="color:#4D90FE;font-size:12px;">
      <p>Copyright(C) 2015 Ayam Skillcoaches Pvt. Ltd. All Rights reserved.</p>
      <p>You received this mail because you opted in at our website www.traix.in</p>
    </span>
  </div>
</div>