<div class="noresult text-center">
	You haven't poster any program yet, you can start by <%= link_to "Clicking here","#progmodal",:class=>"modal-trigger",:id=>"addprogram"%>.
</div>
<div id="progmodal" class="modal">
	<div class="modal-content">
	    <div class="modal-header">
	      <h5 class="modal-title text-center">
	        Add Programs<br> <span style="color:red;margin-left:10px;font-size:12px;">* All Fields are mandatory.</span>
	      </h5>
	      <%= render "programs/form" %>
          &nbsp;
	    </div>
	</div>
</div>