<p id="notice"><%= notice %></p>

<h3 class="heading">List of expertises (<font color="blue"><b>Admin View</b></font>)</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Program Name</th>
      <th>Program </th>
      <th>Expertise</th>
      <th>Professional Expertise Info</th>
      <th>Reference Name</th>
      <th>Reference Email</th>
      <th>Reference Number</th>
      <th>Verified Status</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>