<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-xs-12 col-sm-12 col-md-3 tcenter" style="margin-top:6%;padding:50px;">
		<%= image_tag('luckyguy.png',:height=>"250px",:title=>"404")%>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-9 tcenter spacing" style="margin-top:3%;padding:50px;">
		<h2 class="orange">Thank God! <br> You Found Him!!!</h2><br>
		<h4 class="lato">We have been looking for this smart lad for quite a long time now. It will be nice of you to <a href="/contact-us" title="contact us">share</a> your secret with us, I mean, how did you find him? like you mistyped url or you were wrongly redirected to this page?</h4><br>
		<h4 class="lato">But I'm so sorry, even though you found this guy for me, it seems I may have lost the page you are looking for. Don't worry, just click <a href="/" title="traix.in">here</a> to visit our homepage and continue, till I hide this page more securely ;-).</h4>
	</div>
</div>