<section class="herobanner text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="text-primary font-gotham-bold">
              Where will<br class="visible-xs"> <span class="text-dark-grey">great work</span><br class="visible-xs visible-sm"> take you?
            </h1>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <hr>
          </div>
        </div>
        <p class="lead">
          Find freelancers to tackle any job,<br class="visible-xs"> any size, any time
        </p>

        <div class="row">
          <div id="get-started" class="btn-get-started-holder col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <a ui-drawer-toggle="" ng-click="toggleDrawer()" class="btn btn-primary btn-lg btn-block hidden-sm hidden-xs hidden-md hidden-lg ng-scope" olog-trigger="" olog-name="open_how_it_works" olog-event="click" olog-location="home_page_control" olog-sublocation="how_it_works" track-trigger="click" track-data="{&quot;subLocation&quot; : &quot;Hero&quot;}" mixpanel-trigger="click" mixpanel-event="Clicked CTA" mixpanel-data="{
                 &quot;CTA Location&quot;: &quot;Home&quot;,
                 &quot;CTA Sub-location&quot;: &quot;Hero Button&quot;,
                 &quot;Page URL&quot;: &quot;http://www.upwork.com/&quot;,
                 &quot;CTA Name&quot;: &quot;Get Started&quot;,
                 &quot;Client Sign Up Flow&quot;: &quot;Post Job flow&quot;
               }">How it Works</a>
            <a href="/signup/user-type" class="btn btn-primary btn-lg btn-block btn-block-xs" track-trigger="click" track-data="{&quot;subLocation&quot; : &quot;Hero&quot;}" olog-trigger="" olog-name="Click" olog-event="click" olog-location="home" olog-sublocation="hero_section" mixpanel-trigger="click" mixpanel-event="Clicked CTA" mixpanel-data="{
                 &quot;CTA Location&quot;: &quot;Home&quot;,
                 &quot;CTA Sub-location&quot;: &quot;Hero Button&quot;,
                 &quot;Page URL&quot;: &quot;http://www.upwork.com/&quot;,
                 &quot;CTA Name&quot;: &quot;Get Started&quot;,
                 &quot;Client Sign Up Flow&quot;: &quot;Post Job flow&quot;
               }">Get Started</a>
          </div>
        </div>

      </div>

    </section>