<div class="row">
  <div class="col-xs-12">
	<div style="margin:30px;">
		<div><h2 class="heading">Careers at Traix</h2></div>
			<p>Our focus on growing that drives us to step out of our ease zone and scale new altitudes every day. We are on a mission to disrupt habits and pause existing mind-sets. Constant innovation makes this a veracity. With our diverse workforce, lateral thinking and creativity, our work is a reflection of our thinking.</p>
			<p>If you think you are motivated enough to deal with challenging problems, shifting the status quo and doing your bit to shape the world around you give us a shout.</p>
			
			<div><h4 class="heading">Current Openings</h4></div>
			<b>1. Associate Operations</b>

			<ul>
				<li><p>Support the day to day operations for organisations which will include understanding the project requirements of organisations, database search, query handling and agreement closure for key client accounts.</p></li>
				<li><p>Conduct weekly analysis of platform usage by companies to determine key issues / insights and suggest actions with regards to the roles posted. Weekly follow-ups with the organisations and responding to follow up requests by professionals accordingly</p></li>
				<li><p>Drive monthly comprehensive analysis of platform usage and database to determine key issues / insights and suggest actions to Marketing team.</p></li>
				<li><p>Support the Product and Operations Lead in design of key strategic initiatives through analytics and primary research and curation of the company side of the platform.</p></li>
			</ul>

			<p>We are looking for candidates who are creative, strong communicators (written and verbal) plus energised about working in a totally entrepreneurial environment. Strong problem solving skills are a must, as is the ability to work with Excel. We are looking for candidates who will take ownership and get things done.</p>

			<b>2. Associate Analytics</b>
			<p>Who are we looking for? </p>
			<p>We are looking for an Analyst who loves playing with data and numbers. The person will be working with multiple functions – Business Development, Product, Operations and Marketing teams. He/She is someone who is passionate about spotting patterns and presenting the same in an easy-to-understand manner. Some of the qualities we would look for are: </p>
			<ul>
				<li><p>Self-starter and entrepreneurial spirit.</p></li>
				<li><p>Solid analytical and problem solving skills.</p></li> 
				<li><p>Proficient with MS Excel and Power Point.</p></li>
				<li><p>1+ years of work experience as a data analyst .</p></li>
				<li><p>Personal and professional integrity.</p></li>
			</ul>
			<p>Key Responsibilities </p>
			<p>The specific responsibilities will include the following: </p>
			<ul>
				<li><p>Conducting regular analysis on our professional bench and client base. Identifying, analysing and interpreting trends or patterns in those data sets..</p></li>
				<li><p>Preparing timely dashboards and reports for internal and external stakeholders’ consumption.</p></li>
				<li><p>Collaborating with business development team to provide support in pulling out required details, i.e., specific roles posting or profile types.</p></li>
				<li><p>Assisting product and marketing team with analysing the website visitors’ behaviour pattern.</p></li>
				<li><p>Supporting business development and marketing team with industry research, competition assessment, market segmentation, contest participation or any other such ad-hoc requirement.</p></li>
				<li><p>Ensuring availability of latest data and updating various decks and documents with the latest numbers on regular intervals.</p></li>
				<li><p>Providing feedback to product team to improve website usage and its ability to capture any missing information from data analysis point of view.</p></li>
			</ul>

			<b>3. Operations and client support</b>
			<ul>
				<li><p>Manage day to day operations and other premium/value added models, which will include understanding the requirement of organisations, database search, query handling and agreement closure for key client accounts.</p></li>
				<li><p>Conduct weekly analysis of platform usage by companies to determine key issues / insights and suggest actions with regards to the roles posted. Weekly follow-ups with key clients, developing client relationship and responding to follow up requests by professionals accordingly.</p></li>
				<li><p>Drive monthly comprehensive analysis of platform usage and database to determine key issues / insights and suggest actions.</p></li>
				<li><p>Support Lead, Product & Operations in design of key strategic initiatives through analytics and primary research and curation of the company side of the platform.</p></li>
				<li><p>Refine the company outreach strategy jointly with the CEO and Lead, Operations based on data on skills, usage patterns, success rates for different types of roles and organisations.</p></li>
			</ul>

			<b>4. Software Engineer IOS</b>
			<p>What we require</p>
			<ul>
				<li><p>You know the iPhone/iOS ecosystem inside and out and follow the latest improvements.</p></li>
				<li><p>You have worked on a large iPhone app, through scaling and performance issues.</p></li>
				<li><p>You care about user experience and sweat all the little details.</p></li>
				<li><p>You understand the larger context of running a growing mobile+web service.</p></li>
				<li><p>You’ve thought about how to bring great performance from an app that needs network access.</p></li>
				<li><p>You can point to your involvement in a working app in the App Store.</p></li>
				<li><p>Experience of at least 2 years on iOS development.</p></li>
			</ul>

			<b>5. Software Engineer ANDROID</b>

			<p>What we require</p>
			<ul>
				<li><p>Minimum 2 years of work experience.</p></li>
				<li><p>Excellent knowledge of Java Technology Stack, Mobile Development and Android eco-system.</p></li>
				<li><p>Prior experience in working on large Android App through scaling and performance issues.</p></li>
				<li><p>Good exposure to SQLite.</p></li>
				<li><p>Capable of handling web service integration - RESTful, JSON, SOAP, XML.</p></li>
				<li><p>A focus and passion for Mobile UI & UX to make apps exciting for the user.</p></li>
				<li><p>Excellent debugging and optimization skills.</p></li>
				<li><p>Rapid prototyping skills for getting product feedback.</p></li>
				<li><p>At least one year of experience with Android development.</p></li>
				<li><p>You have built one or two amazing apps on the Play Store.</p></li>
			</ul>

			<b>6. Tech Support </b>

			<p>Key Responsibilities</p>
			<ul>	
				<li><p>Resolve technology issues raised by internal & external customers, in real-time.</p></li>
				Identify issues that are genuine bugs/relevant feature requests & escalate these to the relevant technology/product teams.</p></li>
				<p><li>Understand data requests sent by business teams & provide them with the right data & insights.</p></li>
				<p><li>Interact with customers, field teams & business teams to understand the actual problem/request.</p></li>
			</ul>

			<b>What we require</b>
			<ul>
				<li><p>1-2 years of work experience; relevant experience is a bonus.</p></li>
				<li><p>Passion about solving other people’s problems.</p></li>
				<li><p>Quick thinker with the ability to multi-task & change context.</p></li>
				<li><p>Good communication & analytical skills, proficient in SQL & Excel.</p></li>
				<li><p>Deep understanding of customers, product, systems & data architecture.</p></li>
				<li><p>Intelligent and self-motivated; should be willing to work hard to achieve and exceed targets.</p></li>
				<li><p>Comfortable with working for long and unpredictable hours.</p></li>
				<li><p>Willing to commute and visit teams on the field, whenever required.</p></li>
				<li><p>+Bachelor’s Degree in engineering/computers.</p></li>
			</ul>
</div>
</div>
</div>