<div class="row">
	<div class="col-xs-12">
		<div style="text-align:center">
			<h2><b>Pricing Details</b></h2>
			<h3><b>For Trainers</b></h3>
			<p><b>Free</b></p>
			<p>Yes! Trainers can register their profile free of charge.</p>

			<hr>
			<h3><b>For Recruiters</b></h3>			
			<p><font face="lato" size="4px">Our hands on recruitment service ensures you get the best result for your project. <br>Our expert staff will personally review your proposals saving you time vetting trainers. <br>Let us find the right person for the job.</font></p>
			<div style="padding:5%;">
				<div class="col-xs-4">
					<div class="pricingbox-header">
						<h2>Free</h2>
					</div>
					<div class="pricingbox-detail">
						<p>This program will show in all the related lists, and search results at the top at the me of listing but will go down the list as more programmes will be posted. We recommend you to try the free listing first.</p>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="pricingbox-header _featured">
						<h2>Featured</h2>
						<h3>INR 1200</h3>
					</div>
					<div class="pricingbox-detail">
						<p>Featured projects attract  more, higher quality trainers and are displayed prominently in the ‘Featured Programs’ page. We send a notification to every trainer who fits the requirements.</p>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="pricingbox-header _urgent">
						<h2>Urgent</h2>
						<h3>INR 3000</h3>
					</div>
					<div class="pricingbox-detail">
						<p>Receive a faster response from trainers to get your project started within 1 - ­5 days! With such project our team at TRAIX calls you to get more details of the project and help you found the most suitable trainers as soon as possible.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>