<div class="hide-on-small s1 l1">&nbsp;</div>
<div class="col s12 m10 l10 staticbg">
	<div style="text-align:center">
		<h1><b>Pricing Details</b></h1><br>
		<h2><b>For Trainers</b></h2>			
		<div>
			<table class="pricingbox">
				<tr>
					<td width="30%"><h3><span class="lato-700-italic">Free</td>
					<td width="50%">Yes! Trainers can register their profile free of charge.</td>
					<td width="20%"><%= link_to "Get Started for Free",new_trainer_session_path, :class=>"btn btn-success" %></td>
				</tr>
			</table>
		</div>
		<h2><b>For Recruiters</b></h2>			
		<div class="pricingbox" style="margin-bottom:2%">
		<p style="padding:10px 10px 10px 10px"><font face="lato" size="4px">Our hands on recruitment service ensures you get the best result for your project. <br>Our expert staff will personally review your proposals saving you time vetting trainers. <br>Let us find the right person for the job.</font></p>
		</div>
		<div style="margin-bottom:2%">
			<table class="pricingbox">
				<tr>
					<td width="30%"><h3><span class="lato-700-italic">Free</span></h3></td>
					<td width="50%">This program will show in all the related lists, and search results at the top at the me of listing but will go down the list as more programmes will be posted. We recommend you to try the free listing first.</td>
					<td width="20%"><%= link_to "Get Started for Free",new_recruiter_session_path, :class=>"btn btn-success" %></td>
				</tr>
			</table>
		</div>
		<div style="margin-bottom:2%">
			<table class="pricingbox">
				<tr>
					<td width="30%"><h3><span class="lato-700-italic">Featured</span></h3><span class="pricinggreytxt">INR 1200</span></td>
					<td width="50%">Featured projects attract more, higher quality trainers and are displayed prominently in the ‘Featured Programs’ page. We send a notification to every trainer who fits the requirements.</td>
					<td width="20%"><%= link_to "Post Featured Programs",new_recruiter_session_path, :class=>"btn btn-success" %></td>
				</tr>
			</table>
		</div>
		<div style="margin-bottom:2%">
			<table class="pricingbox">
				<tr>
					<td width="30%"><h3><span class="lato-700-italic">Urgent</span></h3><span class="pricinggreytxt">INR 3000</span></td>
					<td width="50%">Receive a faster response from trainers to get your project started within 1 - ­5 days! With such project our team at TRAIX calls you to get more details of the project and help you found the most suitable trainers as soon as possible.</td>
					<td width="20%"><%= link_to "Make it Quick",new_recruiter_session_path, :class=>"btn btn-success" %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="hide-on-small s1 l1">&nbsp;</div>