<div class="row">
  <div class="col-xs-12">
	<div style="margin:30px;">
		<div><h2 class="heading">Privacy Commitment</h2></div>
		<p>This privacy policy (“Privacy Policy”) sets forth our commitment to respecting your online privacy and recognise your need for appropriate protection and management of any Personal Information (as defined below) you share with us. The Privacy Policy applies to our Services available under the domain <b><b>www.traix.in</b></b> (herein after referred to as the “Website”). By visiting the Website you agree to be bound by the terms and conditions of this Privacy Policy.</p>
		<b>IF YOU DO NOT AGREE PLEASE DO NOT USE OR ACCESS THE WEBSITE.</b>

		<h4 class="heading"><br>Traix Privacy Commitment. Overview</h4>
		<p>“Traix” is committed to protecting the privacy of our users, and strives to provide a safe, secure user experience. This Privacy Statement sets forth the online data collection and usage policies and practices that apply to this web site. The following statement explains TRAIX commitment to managing your personal information and sets out how and when personal information is collected, held, used or disclosed. This Privacy Commitment only applies to data gathered on the Traix.in web site (the "Web Site"), and does not apply to any other information or web site. </p>

		<p>By registering or by using this site, you explicitly accept, without limitation or qualification, the collection, use and transfer of the personal information provided by you in the manner described in this Statement. Please read this Statement carefully as it affects your rights and liabilities under law. If you do not accept the Privacy Statement stated herein or disagree with the way we collect and process personal information collected on the Web site, please do not use it. </p>

		<h4 class="heading"><br>Scope of this Policy</h4>
		<p>This policy applies to <b>www.traix.in</b> (The “Site” or “Web Site”). It is Traix policy to comply with data protection legislation. This regulates the processing of information relating to you and grants you various rights in respect of your personal data. </p>

		<p>The Site contain links to other web sites over which we have no control. Traix is not responsible for the privacy policies or practices of other web sites to which you choose to link from this site. We encourage you to review the privacy policies of those other web sites so you can understand how they collect, use and share your information. </p>

		<p>We also do not control the data use practices of either (a) employers or others who may access your information on this site, or (b) third party Ad Networks and other third parties with whom we work to serve you personalized ads on our sites. We encourage you to review the privacy policies and opt-out choices of those third parties so you can understand how they collect, use and share your information. </p>


		<h4 class="heading"><br>Information We Collect and Retain</h4>

		<p>You do not have to give us any personal information in order to perform job searches or to read the content portions of our Site. We collect the following general types of information about you when you visit our Sites: personal information, demographic information, behavioural information, and indirect information. Sometimes we collect combinations of all these types of information. In each case, it is indicated on the web site whether any personal or demographic data must be provided to use the requested service or not. </p>

		<p>Personal information is information that can be used to identify you, or any other individual to whom the information may relate, personally. We do not collect personal information unless you choose to provide it to us. Some examples of personal information that we collect in some areas of our Site, depending on the services you use and local law, are:</p>
		<ul>
			<li list-style="disc">Your name</li>
			<li list-style="disc">Address</li>
			<li list-style="disc">Email address</li>
			<li list-style="disc">Telephone number</li>
			<li list-style="disc">Contact information</li>
			<li list-style="disc">Billing information</li>
			<li list-style="disc">Information about third parties, such as references or contacts, that you provide to us if you have their express written consent to do so.</li>
		</ul>
		<p>Demographic information is information that is not unique to you in the sense that it refers to selected population characteristics, such as your ZIP code or postal code, age, preferences, gender, race or ethnicity, occupation, career history, interests and favourites. </p>

		<p>We also collect behavioural information regarding how you use our site and mobile applications, the areas of our site that you visit, what services you access, and information about your computer hardware and software including your IP address, geolocation, browser and operating system type, domain names, access times and referring Web site addresses. This information is necessary for analysing the use of resources, troubleshooting problems, preventing fraud, and improving our services.</p>

		<p>In addition, Traix may collect indirect information about you when you use certain third party services on our web site and the collection of such information is considered necessary for that purpose.</p>

		<p>We do not collect sensitive personal data or information of users like password of your e mail account; password of your Traix account (as it automatically get saved in the Traix server when you create an account or register with Traix and not authorized by Traix for access unless desired under any legal obligation); financial information such as Bank Account details or Credit Card or Debit Card or other payment related details; physical and mental or other health conditions or medical records and history; Biometric information such as finger prints, voice & facial patterns and DNA any other sensitive information which is confidential or sensitive by its nature. </p>

		<p>We may personalize the advertising that you are shown on our sites or other sites with which we have a business relationship. In order to provide this personalization, in addition to information we collect about you on our sites, we acquire information (including personal, demographic, behavioural and indirect information) about you from third parties who provide it to us.</p>

		<h4 class="heading"><br>Use of your Personal Information</h4>

		<p>You agree that we may use your Personal Information to facilitate the services you request. You agree that we may use your Personal Information and other information we obtain from your current and past activities on the Website to: resolve disputes; troubleshoot problems; measure your interest in the services provided by us, inform you about online and offline offers, products, services, and updates; customise your experience; detect and protect us against error, fraud and other criminal activity; enforce Terms of Use; and as otherwise described to you at the time of collection. At times, we may look across multiple Users to identify problems or resolve disputes, and in particular we may examine your Personal Information to identify users using multiple User IDs or aliases. We may compare and review your Personal Information for errors, omissions and for accuracy.</p>

		<p>You agree that we may use Personal Information about you to improve our marketing and promotional efforts, to analyse site usage, improve the Website’s content and service offerings, and customise the Website’s content, layout, and services. These uses improve the Website and better tailor it to meet your needs, so as to provide you with an efficient, safe and customised experience while using the Website.</p>

		<p>You agree that we may use your Personal Information to contact you and deliver information to you that, in some cases, are targeted to your interests, such as targeted banner advertisements, administrative notices, services offerings, and communications relevant to your use of the Website. By accepting the Terms of Use and Privacy Policy, you expressly agree to receive this information. If you do not wish to receive these communications, we encourage you to opt out of the receipt of certain communications in your profile. You may make changes to your profile at any time.</p>

		<h4 class="heading"><br>Advertisements</h4>
		<p>When you enter Personal Information on any form of an advertiser, such information is simultaneously collected by the Website and the advertiser. The Personal Information is used by the Website in accordance with the terms of this Privacy Policy and is used by the advertiser as per the advertisers prevalent privacy policies. Because we do not control the privacy practices of these advertisers, you should evaluate their practices before deciding to provide the said information. The Website may also aggregate (gather up data across all Accounts) Personal Information and disclose such information in a non-personally identifiable manner to advertisers and other third parties for other marketing and promotional purposes.</p>

		<h4 class="heading"><br>How Information is used</h4>
		<p>We use the information we gather on the web site for the purposes of providing our services, responding to any queries you may have, operating and improving the web site, fostering a positive user experience and delivering the products and services that we offer. The information we gather on any Traix web site may be shared within the Traix group of companies or any of the Traix-affiliated company’s basis in order to deliver these services we offer to “work” and “recruit” or in order to undertake analysis of our database such as aggregate profiling of our registered users.</p>

		<h4 class="heading"><br>We may disclose:</h4>
		<p>Your information to our recruit or work. We give relevant persons working for some of these providers access to your information, but only to the extent necessary for them to perform their services for us. We also implement reasonable contractual and technical protections to ensure the confidentiality of your personal information and data is maintained, used only for the provision of their services to us, and handled in accordance with this privacy policy. Examples of service providers include payment processors, hosting services, email service providers, and web traffic analytics tools.</p>

		<p>Your account details to your billing contact. If your details (as the account holder) are different to the billing contact listed for your account, we may disclose your identity and account details to the billing contact upon their request (we also will usually attempt to notify you of such requests). By using our services and agreeing to this privacy policy, you consent to this disclosure.</p>

		<p>Your email address to your organization. If the email address under which you’ve registered your account belongs to or is controlled by an organization, we may disclose that email address to that organization and to assist the organization with its enterprise accounts.</p>

		<p>Aggregated or de-identified information to third parties to improve or promote our services. No individuals can reasonably be identified or linked to any part of the information we share with third parties to improve or promote our services.</p>

		<p>The presence of a cookie to advertise our services. We may ask advertising networks and exchanges to display ads promoting our services on other websites. We may ask them to deliver those ads based on the presence of a cookie, but in doing so will not share any other personal information with the advertiser. Our advertising network partners may use cookies and page tags or web beacons to collect certain non-personal information about your activities on this and other websites to provide you with targeted advertising based upon your interests. </p>

		<p>Your information if required or permitted by law. We may disclose your information as required or permitted by law, or when we believe that disclosure is necessary to protect our rights, and/or to comply with a judicial proceeding, court order, subpoena, or other legal process served on us.</p>

		<h4 class="heading"><br>Disclaimer</h4>
		<p>We shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any Personal Information concerning the User’s account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used.</p>

		<h4 class="heading"><br>Assignability</h4>
		<p>We may assign any of our responsibilities/obligations to any other person without notice to the User, at its sole discretion. However, you shall not assign, sub-licence or otherwise transfer any of your rights or obligations under this Privacy Policy to any other party, unless a written consent is taken from us.</p>

		<h4 class="heading"><br>Contacting the Website</h4>
		<p>If you have any questions about this Privacy Policy, the privacy practices of this Website, or if you want to exercise any of the rights that you are given under this Privacy Policy, you can contact us at <a rel="nofollow" title="email" href="mailto:info@traix.com">info@traix.com.</a></p>
	</div>
  </div>
</div>