<div class="row">
  <div class="col-xs-12">
	<div style="margin:30px;">
		<div><h2 class="heading">Terms of Use</h2></div>
		<p><b>Accepting your rights and responsibilities as a TRAIX user. These terms of use (this “Agreement”) set forth the standards of use of www.traix.in located at </b><a href="http://www.traix.in">http://www.traix.in</a><b> and all of its associated pages and websites. </b><a href="http://www.traix.in">www.traix.in</a><b> and all such associated pages and websites are collectively referred to herein as the “Website”.</b></p>

		<p>By using the Site “Website” in any manner, including but not limited to visiting or browsing the Site, you (the "user" or "you") agree to be bound by this Agreement, including those additional terms and conditions and policies referred to here and/or available by hyperlink. This Agreement applies to all users of the Site, including without limitation users who are sellers, customers, and merchants, contributors of content, information and other materials or services on the Site.</p>

		<div><h4 class="heading">Privacy Reminder</h4></div>
		<p>Safeguard your personal information by never providing credit card, bank account numbers or any other personal information open to misuse, to likely employers.</p>

		<div><h4 class="heading">Terms of Use</h4></div>
		<p>This page states the "Terms of Use" under which you (“You”) may use “Website”, an on-line service to post and find opportunities.</p>

		<p>These Terms of Use include the “website” Privacy Statement which is incorporated into these Terms of Use by reference. By using “website”, you are indicating your acceptance to be bound by these Terms of Use, including the “website” Privacy Statement.</p>

		<p>Please read this page wisely. If you do not accept the Terms of Use stated herein, do not use the “website” and its services. By using “website”, you are indicating your acceptance to be bound by the provisions of these Terms of Use. “Website” may revise these Terms at any time by posting an updated version to this Web page. You should visit this page periodically to review the most current Terms because they are binding on you. </p>

		<p>Users who violate these Terms may have their access and use of the “website” suspended or terminated, at “website” discretion.</p>

		<div><h4 class="heading">Definitions</h4></div>
		<p>A. "Work" means any User who accesses the Website or uses the Services with an Intention to secure projects/ assignments.</p>
		<p>B. "Recruit" means any company or any other entity which accesses the Website or uses the Services with an intention to provide projects / assignments to the eligible Skill Providers in its own organisation or in facilitating Skill.</p>


		<div><h4 class="heading">Eligibility</h4></div>
		<p>You must be 18 years of age or older to visit or use Traix.in in any manner. By visiting “website” or accepting these Terms of Use, You represent and warrant to the Company that You are 18 years of age or older, and that You have the right, authority and capacity to use the “website” and agree to and abide by these Terms of Use. You also represent and warrant to the Company that you will use “website” in a manner consistent with any and all applicable laws and regulations. If you are not yet 18 or are accessing this site from any country where this material is prohibited, please exit now as you do not have proper authorization.</p>

		<div><h4 class="heading">License restrictions use</h4></div>
		<p>Except as may be explicitly permitted, you agree not to save, download, cut and paste, sell, license, rent, lease, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit, or create derivative works from materials from this site. Systematic retrieval of data or other content from this site to create or compile, directly or indirectly, a collection, database or directory without written permission from the “website” is prohibited. In addition, use of the content or materials for any purpose not expressly permitted in this Agreement is prohibited</p>

		<div><h4 class="heading">Services</h4></div>
		<li style="list-style:none"><p>A. The use of this Website entitles the User, whether a “work” or “recruit”, to avail certain services as provided in the following clauses (“Services”) and interpretation of the term “Services” shall be done accordingly depending upon the context.</p></li>
		<li style="list-style:none"><p>B. If the “work” have completed registration, they shall be entitled to search for a project / assignment and view project / assignment listings and snapshots of the projects / assignments.</p></li>
		<li style="list-style:none"><p>C. If the “recruit” have completed simple registration, they shall be entitled for listing projects / assignments and after the screening, verification and approval of the same they can communicate with the work.</p></li>

		<div><h4 class="heading">Security</h4></div>
		<p>You agree that if you are issued a Username and Password by “website”, you shall use your best efforts to prevent access to this site through your Username and Password by anyone other than yourself, including but not limited to, keeping such information strictly confidential. Inform “website” immediately if you discover loss or access to such information by an unauthorized party and by using a secure Username and Password not easily guessed by a third party.</p>
		<p>You agree that you shall not try to reverse assemble, reverse compile, decompile, disassemble, translate or otherwise alter any executable code, contents or materials on or received via this site. You understand that such actions are likely to subject you to serious civil and criminal legal penalties and that “traix.in” shall pursue such penalties to the full extent of the law to protect its rights and the rights of its other licensors.</p>

		<div><h4 class="heading">Site Restriction</h4></div>
		<p>Users shall not use any “website” in order to host, display, upload, modify, publish, transmit, update, distribute, share, store or destroy material, including without limitation “traix.in” Content,</p>
		<li style="list-style:none"><p>A. in violation of any applicable law or regulation,</p></p></li>
		<li style="list-style:none"><p>B. in a manner that will infringe the copyright, trademark, trade secret or other intellectual property or proprietary rights of others or violate the privacy, publicity or other personal rights of others,</p></li>
		<li style="list-style:none"><p>C. that belongs to another person and to which the user does not have any right to,</p></li>
		<li style="list-style:none"><p>D. that is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another privacy, threatening, abusive or hateful or racially, ethnically objectionable, disparaging, relating encouraging money laundering or gambling or otherwise unlawful in any manner whatsoever,</p></li>
		<li style="list-style:none"><p>E. harm minors in any way,</p></li>
		<li style="list-style:none"><p>F. deceives or misleads the addressee about the origin of such message or communicates any information which is grossly offensive or menacing in nature,</p></li>
		<li style="list-style:none"><p>G. impersonate another person or entity,</p></li>
		<li style="list-style:none"><p>H. contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of “traix.in” computer systems or site or “traix.in” users, customer computer systems or site,</p></li>
		<li style="list-style:none"><p>I. Threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states or of public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or insulting any other nation.</p></li>
		

		<p><b>Users are also prohibited from violating or attempting to violate the security of any “website”, including, without limitation the following activities:</b></p>
		<li style="list-style:none"><p>A. accessing data not intended for such user or logging into a server or account which the user is not authorized to access;</p></li>
		<li style="list-style:none"><p>B. attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;</p></li>
		<li style="list-style:none"><p>C. attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to any “Traix” site, overloading, "flooding", "spamming", "mail bombing" or "crashing"; or</p></li>
		<li style="list-style:none"><p>D. Forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil or criminal liability. The Company will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</p></li>
		
		<div><h4 class="heading">Links to other websites</h4></div>
		<p>Our Site contains links to other websites for your information and convenience, or to provide additional opportunities for various services through our “website”. These third-party websites are responsible for, and undertake to maintain, their own site terms of use. We suggest that you carefully review the terms of use of each site you choose to access from our Site.</p>

		<div><h4 class="heading">Registration Process</h4></div>
		<P>The User to be entitled to avail the Services shall have to complete the registration process (“Registration Process”) as provided below:		
		<li style="list-style:none"><p><b>A. For Work</b></p></li>
		<ul>
			<li style="list-style:none"><p>a. The Registration Process may involve only simple registration or may involve simple registration and complete skill profile creation depending on the need of the work.</p></li>
			<li style="list-style:none"><p>b. Simple registration is mandatory for work and requires the work to provide certain basic information about them such as name, industry, contact details and accordingly create an Account.</p></li>
			<li style="list-style:none"><p>c. After Simple registration, the Skill Provider needs to fill in the details in the complete work profile.</p></li>
			<li style="list-style:none"><p>d. The “work” understands and agrees that the Website will screen and verify the information provided by the “work” in the complete skill profile and at its sole discretion, increase the amount or number of information for the Registration Process and may ask for further information even after Registration Process. The Website may in its sole discretion, close the Account, if any information provided is found to be false or the information provided is not sufficient. After the screening and verification of the information provided by the “work”, the Website may allow the “work” apply for listings of projects / assignments.></p></li>
		</ul>
		<li style="list-style:none"><p><b>B. For Recruit</b></p></li>
			<p>The Registration Process may involve only simple registration. Simple registration is mandatory for the “recruit” and requires the “recruit” Provider to provide certain basic information about itself such as company name, name of the authorised person and industry description and accordingly create an Account.</p>
		<ul>
			<li style="list-style:none"><p>a. After the simple registration is completed, the recruit is required to fill listings of projects / assignments any time within the term of this Agreement by providing detailed information as requested in the Account for screening and verification and after such screening and verification the “recruit” listings of projects / assignments will be listed.</p></li>
			<li style="list-style:none"><p>b. The recruit understands and agrees that the Website may screen and verify the information provided by the “recruit” and at its sole discretion, increase the amount or number of information for the Registration Process and may ask for further information even after Registration Process. The Website may in its sole discretion, close the Account, if any information provided is found to be false or the information provided is not sufficient.</p></li>
		</ul>
		
		<div><h4 class="heading">Intellectual property rights</h4></div>
		<p><b>A. Copyright</b></p>
		<p>The Site design, text, content, selection and arrangement of elements, organization, graphics, compilation, magnetic translation, digital conversion, and other matters related to the Site are protected under applicable copyright laws, ALL RIGHTS RESERVED. The posting of any such elements on the Site does not constitute a waiver of any right in such elements. You do not acquire ownership rights to any such elements viewed through the Site. Except as otherwise provided herein, none of these elements may be used, copied, reproduced, downloaded, posted, displayed, transmitted, mechanical, photocopying, recording, or otherwise, without “traix.in” prior written permission.</p>

		<p><b>B. Trademark</b></p>
		<p>TRAIX name, logo, and all product names, TRAIX names, and other logos, unless otherwise noted, are trademarks and/or trade dress of TRAIX. The use or misuse of any Marks or any other materials contained on the Site, without the prior written permission of their owner, is expressly prohibited.</p>

		<div><h4 class="heading">Maintenance</h4></div>
		<p>The Website may at its sole discretion and without assigning any reason whatsoever at any time deactivate or/and suspend the User’s access to the Website and/or the Services (as the case may be) without giving any prior notice, to carry out system maintenance or/and upgrading or/and testing or/and repairs or/and other related work. Without prejudice to any other provisions of this Agreement, the Website shall not be liable to indemnify the User for any loss or/and damage or/and costs or/and expense that the User may suffer or incur, and no fees or/and charges payable by the User to the Website shall be deducted or refunded or rebated, as a result of such deactivation or/and suspension.</p>
		<div><h4 class="heading">Disclaimer of Warranty</h4></div>
		<p>By accepting these Terms of Use, you expressly acknowledge, understand and agree that you use this Site at your own sole risk. It has not been warranted, by “Traix”, affiliates nor any employees, agents, sellers, third-party content providers or licensed granters, or any of their officers, directors, employees or agents (collectively, "all parties"); that this Site will be continuously uninterrupted or free from any errors. In addition, all parties make no guarantee on the accuracy, reliability or content of any information, Service or certificate provided through “Traix” or the results that may occur from the use of such certificates. You understand that the Site which “Traix” operates will be used on an "as is" basis when available. Whether implied or expressed, any and all warranties and conditions or representations, including but not without limitation to, title non-infringement, or merchant’s ability, quality, and fitness are hereby disclaimed by “Traix”.</p>
		<p>All the contents of this website are only for general information Or use. They do not constitute advice and should not be relied upon In making (or refraining from making) any decision. Any specific Advice or replies to queries in any part of the website is/are the Personal opinion of such experts/consultants/persons and are not subscribed to by this website. Further it shall be the sole Responsibility of the users to update information and/or resume and The website does not take any responsibility of the accuracy or Validity or truth of the information posted on the website and the Website shall not be liable on this account.</p>

		<p>Since the website acts only as a project / assignment searching and Publishing portal for the users, it shall not have any liability Whatsoever for any aspect of the arrangements between</p>
		<p>Opportunity provider and the skill provider as regards the terms of Project / assignment offered by the “recruit” In no Circumstances shall the website be liable for the any arrangements Between the “work” and “recruit”.</p>

		<div><h4 class="heading">Additional Terms of Use</h4></div>
		<p>Certain areas of “website” and “traix” are subject to additional terms of use. By using such areas, or any part thereof, You agree to be bound by the additional terms of use applicable to such areas.</p>

		<div><h4 class="heading">Privacy</h4></div>
		<p>Use of the Website and/or the Services is also governed by the Website’s Privacy Policy.</p>
	</div>
  </div>
</div>