<div class="col s12 m12 l12">
      <%= render partial: "shared/flash_messages", flash: flash %> 
</div>
<div class="col hide-on-small m3 l3">&nbsp;</div>
<div class="col s12 m6 l6 text-center" id="login">
	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div>
      <h5 class="heading">Resend Confirmation Instructions</h5>
    </div>
	<%#= devise_error_messages! %>
		<div class="form-group input-field col s12 m9 l9" style="margin-top3%;">
			<%= f.email_field :email, autofocus: true,:placeholder=>"Enter your registered email address", :class=>"form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 			
		</div>
		<div class="form-group input-field col s12 m3 l3">
			<%= f.submit "Resend", :class=>"btn btn-success" %>
		</div>
    <div>&nbsp;</div>
		<!--div class="form-group col s12 m12 l12">
			<%#= render "recruiters/shared/links" %>
		</div-->
	<%end%>
</div>
<div class="col hide-on-small m3 l3">&nbsp;</div>