<div class="col-md-2 col-lg-2">
	&nbsp;
</div>
<div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 table-responsive">
	<h4>Admin Panel</h4>
	<table class="table table-bordered">
		<tr>
			<td style="text-align:center;">
				<%= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success"%>
			</td>
			<td style="text-align:center;">
				<%= link_to "Expertise Approval","/expertises",:class=>"btn btn-lg btn-success"%>
			</td>
			<td style="text-align:center;">
				<%= link_to "Program Approval","/trainers",:class=>"btn btn-lg btn-success"%>
			</td>
		</tr>
		<!--<tr>
			<td style="text-align:center;">
				<%#= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success disabled"%>
			</td>
			<td style="text-align:center;">
				<%#= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success disabled"%>
			</td>
			<td style="text-align:center;">
				<%#= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success disabled"%>
			</td>
		</tr>
		<tr>
			<td style="text-align:center;">
				<%#= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success disabled"%>
			</td>
			<td style="text-align:center;">
				<%#= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success disabled"%>
			</td>
			<td style="text-align:center;">
				<%#= link_to "Trainer Approval","/trainers",:class=>"btn btn-lg btn-success disabled"%>
			</td>
		</tr>-->
	</table>
</div>
<div class="col-md-2 col-lg-2">
	&nbsp;
</div>
