/*page loading animation css*/
html{
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #FFF8DC url('Preloader_21.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  font-family: "lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}
/*end*/
.header{

}
select{
    width: auto;
    padding: 4px;
    background-color: transparent;
}
.alert{
    border:1px solid grey;
}
p{
    font-family: lato;
    font-size:14px;   
}
.logo{
    float:left;padding:5px;margin-left:0px;
}
.toplinks{
    float:right;margin-top:1%;margin-right:1%;color:white;
}
.transparent{
    background-color: transparent;
}
.textheading{
    font-weight: bold;
    background-color: darkgray;
    color: white;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}
.heading{
    color:#70BF41;
    font-family: 'lato',arial;
    font-weight: normal;
}
#footer{
	background:linear-gradient(to right, #5d8588, #72d3aa);;
	color:#ffffff;
	font-family:Arial;
    clear:both;
    display: block;
    width: 100%;
}
#footer ul li {
	list-style-type: none;
	margin-bottom: 10px;
}
#footer ul li a{
	color:#ffffff;
}
.social{
	margin:0;
	padding:0;
}
.social ul{
	margin:0;
	padding:5px;
}
.social ul li{
	margin:5px;
	display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}
.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}
.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}
.social .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
}
.form-control{
    width: 96%;
}
.ben-banner{
    border:1px solid black;
    height: 285px;
    text-align: center;
}
.profile_pic{
    max-height: 200px;
    height: auto;
    margin-left: 0px;
    /*border-radius: 50%;   
    border: 1px solid green;*/
    width: auto;
    max-width: 260px;
    padding: 5px;
    text-align: center;
}
.profile_lpanel{

}
/*.styled-button-10 {
    background:#5CCD00;
    background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
    background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    
    padding:10px 15px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:16px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #459A00;
    margin-top:5px;
}*/
.customtable{
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display:table;
}
.customtable tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.customtable tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.customtable td{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    /*border-top: 1px solid #ddd;*/
}
/*.customtable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border:1px black dashed;
}
.customtable tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.customtable tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.customtable td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}*/
.left{
    float: left;
}
.justify{
    text-align: justify;
}
.inline{
    display: inline-block;
}
.padding5{
    padding: 5px 5px 5px 5px;
}
.homebanner{
    width: 100%;
    max-width: 100%;
    height: 700px;
    margin-bottom: 10px;
}
.feed-heading{
    font-family: 'lato',arial;
    font-size: 40px;
    margin-top: 4%;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.tcenter{
    text-align: center;
}
.greytxt{
    padding:5px 20px 20px 40px;
    color:grey;
    font: smaller;
}
.titletxt{
    font-family: 'lato', arial;
    font-weight:normal;
    font-size:32px;
    text-align:center;
    margin-top: 6%;
    padding:1px 0px 0px 40px;
}
.gradient {
    height: auto;
    background: -webkit-linear-gradient(left, rgb(093,133,136), rgb(114,211,170)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(093,133,136), rgb(114,211,170)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(093,133,136), rgb(114,211,170)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(093,133,136), rgb(114,211,170)); /* Standard syntax (must be last) */
}
.disabled{
    background-color: #E5E5E5;
}
.qbox {
    margin: 5px auto;
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaeaf), color-stop(100%, #689ecd));
    background-image: -webkit-linear-gradient(#aaaeaf, #689ecd);
    background-image: -moz-linear-gradient(#aaaeaf, #689ecd);
    background-image: -o-linear-gradient(#aaaeaf, #689ecd);
    background-image: -ms-linear-gradient(#aaaeaf, #689ecd);
    background-image: linear-gradient(#aaaeaf, #689ecd);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.qbox * {
    position: relative;
}

.qbox::before {
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    bottom: 1px;
    content: '';
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.qh1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.qp{ 
    margin-top: 15px;
    text-align: justify;
}
#tabcontent .nav-tabs {
  /*background: #dd5b5b;*/
  padding: 15px 0 0 0;
}
#tabcontent .nav-tabs > li > a {
  padding: 5px 40px;
  background: #eaedf2;
  border: 1px solid #a48686;
  border-bottom: none;
  /*border-top-right-radius: 2em;
  border-top-left-radius: 1.5em;*/
}
.otherbox{
    padding: 10px;
    border:1px solid grey;    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    height: 50px;
    margin-bottom: 10px;
}
.home-work{
    /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('banners/home/homebanner.jpg');*/
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('banners/home/workbg.jpg');
    width:100%;
    text-align: center;
    overflow: hidden;
    height: auto;    
   /* height: 680px !important;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-hire{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('banners/home/hirebg.jpg');
    width:100%;
    text-align: center;
    background-size: cover;
    overflow: hidden;
    height: auto;
    /*height: 680px !important;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 
.homebutton{
    background-color: #DE6B10;
    color: #fff;
    font-family: 'lato', arial;
    font-size:20px;
    font-weight: normal;
    padding: 5px;
    white-space:nowrap;
    position: relative;
    margin-right: 1%;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.feed-bg{
    background: url('banners/home/iscreen400.png');
    text-align: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 400px;
    margin-top: 1%;
} 
.feeddetails{
    margin-top:15%;
    color:#fff;
    font-family: 'lato',arial;
    overflow: hidden;
}
.feedbutton{
    background-color: #DE6B10;
    color: #fff;
    font-family: 'lato', arial;
    font-size:20px;
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 4px;
    padding: 5px;
    -webkit-align-content: center;
    align-content: center;
    margin-right: 1%;
    margin-bottom: 5%;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hbtn-lg{
    font-size:26px;
    padding: 10px 50px 10px 50px;
}
.homefoot{
    font-family: 'lato',arial;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px;
    color:white;
    font-style: italic;
}
.homefoot a{
    font-family: 'lato',arial;
    letter-spacing: 2px;
    color:white;
    padding: 10px;
    font-style: italic;   
    text-decoration: none;
}
.homesol{
    font-family: 'lato',arial;
    letter-spacing: 2px;
    font-size: 25px;
    padding: 10px;
    color:white;
    font-style: italic;
}
.homesol a{
    font-family: 'lato',arial;
    letter-spacing: 2px;
    font-size: 25px;
    color:white;
    padding: 10px;
    font-style: italic;   
    text-decoration: none;
}
a.homebutton:hover{
    text-decoration:none;
    color:#fff;
    cursor: pointer;
}
.homelinks{
    color: #fff;
    font-family: 'lato', arial;
    font-size:20px;
    font-weight: normal;
    padding: 5px 10px
}
.homelinks a, a:hover{
    text-decoration:none;
    color:#fff;
    cursor: pointer;
}
#bannerlink{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 30px;
}
/*.bannertext{
    font-family:'lato', arial, sans-serif;
    font-style: italic;
    font-size:50px; 
    font-weight:normal;
    letter-spacing: 2px;
    color:white;
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 15px;
}*/
.tleft{
    text-align: left;
}
.bannertext{
    font-family:'lato', arial, sans-serif;
    font-style: italic;
    font-size:22px; 
    font-weight:normal;
    letter-spacing: 2px;
    color:white;
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 15px;
}
#buttons{
    text-align:left;
    padding: 10px;
    margin-left:3%;
    margin-top:0%;
}
.bannerbtn{
    font-family: 'lato',arial;
    font-weight:bold;
    font-size:20px;
    width: auto;
    padding: 10px;;
    text-align: left;
    color: white;
}
.bannerbtntext{
    color:#255255255;
    font-family: 'lato',arial;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
}
.topborder{
    border-top: grey 1px solid;
}
.approved{
    background-color: #009900;
    color: black;
    font-weight: bold;
}
.pending{
    background-color: #FF8000;
    color: black;
    font-weight: bold;
}
.progheading{
    display: block;
    width: 100%;
    height: auto;
    position: relative;   
}
.progbox {
    margin: 5px auto;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaeaf), color-stop(100%, #689ecd));
    background-image: -webkit-linear-gradient(#aaaeaf, #689ecd);
    background-image: -moz-linear-gradient(#aaaeaf, #689ecd);
    background-image: -o-linear-gradient(#aaaeaf, #689ecd);
    background-image: -ms-linear-gradient(#aaaeaf, #689ecd);
    background-image: linear-gradient(#aaaeaf, #689ecd);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.progbox * {
    position: relative;
}

.progbox::before {
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    bottom: 1px;
    content: '';
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.dotborder{
    border-left:1px dotted darkgrey;
    border-right:1px dotted darkgrey;
    border-bottom:1px dotted darkgrey;
}
.expbox{
    border:1px dotted darkgrey;
    margin-top:5px;
    margin-bottom:5px;
    width:92.5%;
    padding:5px;
}
.smexpbox{
    border:1px dotted red;
    margin-top:5px;
    margin-bottom:5px;
    width:92.5%;
    padding:5px;
}
.searchheader{    
    padding: .2em .6em .3em;
    /*font-size: 75%;display: inline;*/
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    /*border-radius: .25em;*/
    background-color: #5cb85c;
    width: 100%;
}
.selected {
      /*border: 1px solid #0000ff;*/
      background-color: #000000;
      color: white;
  }
.dropdown-menu{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px -25px 0;
    min-width: 0px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.pricingbox-header {
position: relative;
height: 85px;
padding: 5px;
color:white;
text-align: center;
background: #808080;
}
.pricingbox-header h2{
    margin-bottom: 0;
    padding: 0;
    font-size: 2.5rem;
    color: #fff;
}
.pricingbox-header h3{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0;
    color: rgba(255,255,255,.8);
}
.pricingbox-header._featured {
background: #59CB59;
}

.pricingbox-header._urgent {
background: #1d67a7;
}
.pricingbox-detail {
padding: 20px 20px 10px;
background: #fff;
height: 200px;
font-family: lato;
font-size: 16px;
margin-bottom:10px;
border:1px solid grey;
}
.center {
    text-align:center;
    display:inline-block;
}

.center form {
    display:inline-block;
}
.padding5{
    padding-left: 15px;
    padding-right: 15px;
}
.padding10{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
.orange{
    color: #DE6B10;
}
.smalltext{
    font-size: 18px;
}
a:hover{
    text-decoration:none;
    color:#DE6B10;
    cursor: pointer;
}

.profile-nav{
    font-family: 'lato',arial;
    font-size: 22px;
    font-weight: 400;
    display: block;
    padding-left: 20px;
    background-color: #fff;
}
a{
    color: #DE6B10;
}
.tright{
    float:right; 
}
.white{
    color:white;
}
.lato{
    font-family: 'lato',arial;
    font-weight: normal;
    display: block;
}
.active{
    background-color: #e7e7e7;
}
.whitebg{
    background-color: #fff;
}
.topmargin{
    margin-top: 20px;
}
.save-btn{
    background-image: url("icons/save.png");
    background-position: top left;
    background-repeat: no-repeat;
    width: 50px;
}
.select200width{
    width: 208px;
}
.regmailbox {
    margin: 5px auto;
    display: block;
    width: 100%;
    height: auto;
    padding: 60px;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaeaf), color-stop(100%, #689ecd));
    background-image: -webkit-linear-gradient(#aaaeaf, #689ecd);
    background-image: -moz-linear-gradient(#aaaeaf, #689ecd);
    background-image: -o-linear-gradient(#aaaeaf, #689ecd);
    background-image: -ms-linear-gradient(#aaaeaf, #689ecd);
    background-image: linear-gradient(#aaaeaf, #689ecd);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 60px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.regmailbox * {
    position: relative;
}

.regmailbox::before {
    background: white;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    bottom: 1px;
    content: '';
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.expired{
    background-color: #D84831;
    color:white;
    font-family: lato;
    padding:5px;
}