.body{

	}
.header{

}
.heading{
    color:#70BF41;
    font-weight: bold;
}
#footer{
	background-color: #70c341;
	color:#ffffff;
	font-family:Arial;
}
#footer ul li {
	list-style-type: none;
	margin-bottom: 10px;
}
#footer ul li a{
	color:#ffffff;
}
.social{
	margin:0;
	padding:0;
}
.social ul{
	margin:0;
	padding:5px;
}
.social ul li{
	margin:5px;
	display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}
.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}
.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}
.social .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
}
.form-control{
    width: 96%;
}
.ben-banner{
    border:1px solid black;
    height: 285px;
    text-align: center;
}
.profile_pic{
    height: 200px;
    margin-left: 42px;
    /*border-radius: 50%;   */
    border: 1px solid green;
}
.profile_lpanel{

}
/*.styled-button-10 {
    background:#5CCD00;
    background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
    background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    
    padding:10px 15px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:16px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #459A00;
    margin-top:5px;
}*/
.customtable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border:1px black dashed;
}
.customtable tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.customtable tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.customtable td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.left{
    float: left;
}
.inline{
    display: inline-block;
}