.body{

	}
.header{

}
.textheading{
    font-weight: bold;
    background-color: darkgray;
    color: white;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}
.heading{
    color:#70BF41;
    font-weight: bold;
}
#footer{
	background-color: #70c341;
	color:#ffffff;
	font-family:Arial;
}
#footer ul li {
	list-style-type: none;
	margin-bottom: 10px;
}
#footer ul li a{
	color:#ffffff;
}
.social{
	margin:0;
	padding:0;
}
.social ul{
	margin:0;
	padding:5px;
}
.social ul li{
	margin:5px;
	display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}
.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-google-plus:hover { /* round google plus icon*/
    background: #e64522;
}
.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}
.social .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
}
.form-control{
    width: 96%;
}
.ben-banner{
    border:1px solid black;
    height: 285px;
    text-align: center;
}
.profile_pic{
    max-height: 200px;
    height: auto;
    margin-left: 0px;
    /*border-radius: 50%;   
    border: 1px solid green;*/
    width: auto;
    max-width: 260px;
    padding: 5px;
    text-align: center;
}
.profile_lpanel{

}
/*.styled-button-10 {
    background:#5CCD00;
    background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
    background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
    
    padding:10px 15px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:16px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #459A00;
    margin-top:5px;
}*/
.customtable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border:1px black dashed;
}
.customtable tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.customtable tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.customtable td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.left{
    float: left;
}
.inline{
    display: inline-block;
}
.homebanner{
    width: 100%;
    max-width: 100%;
    height: 700px;
    margin-bottom: 10px;
}
.tcenter{
    text-align: center;
}
.greytxt{
    padding:5px 20px 20px 40px;
    color:grey;
    font: smaller;
}
.titletxt{
    font-weight:bold;
    padding:1px 0px 0px 40px;
}
.qbox {
    margin: 5px auto;
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaeaf), color-stop(100%, #689ecd));
    background-image: -webkit-linear-gradient(#aaaeaf, #689ecd);
    background-image: -moz-linear-gradient(#aaaeaf, #689ecd);
    background-image: -o-linear-gradient(#aaaeaf, #689ecd);
    background-image: -ms-linear-gradient(#aaaeaf, #689ecd);
    background-image: linear-gradient(#aaaeaf, #689ecd);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.qbox * {
    position: relative;
}

.qbox::before {
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    bottom: 1px;
    content: '';
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.qh1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.qp{ 
    margin-top: 15px;
    text-align: justify;
}
#tabcontent .nav-tabs {
  /*background: #dd5b5b;*/
  padding: 15px 0 0 0;
}
#tabcontent .nav-tabs > li > a {
  padding: 5px 40px;
  background: #eaedf2;
  border: 1px solid #a48686;
  border-bottom: none;
  /*border-top-right-radius: 2em;
  border-top-left-radius: 1.5em;*/
}
.otherbox{
    padding: 10px;
    border:1px solid grey;    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    height: 85px;
    margin-bottom: 10px;
}
.mainbanner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('banners/home/homebanner.jpg');
    width:100%;
    text-align: center;
    background-size: cover;
    overflow: hidden;
    height: 600px;
}
#bannerlink{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 30px;
}
.bannertext{
    font-size:50px; font-weight:bold;color:white;
    margin-top: 6%;
    margin-bottom: 5%;
    padding: 15px;
}
.bannerbtn{
    font-weight:bold;
    font-size:20px;
    width: auto;
    padding: 10px;
    font-family:monospace;
}
.bannerbtntext{
    color:lightgreen;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}
.topborder{
    border-top: grey 1px solid;
}
.approved{
    background-color: #009900;
    color: black;
    font-weight: bold;
}
.pending{
    background-color: #FF8000;
    color: black;
    font-weight: bold;
}
.progbox {
    margin: 5px auto;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaeaf), color-stop(100%, #689ecd));
    background-image: -webkit-linear-gradient(#aaaeaf, #689ecd);
    background-image: -moz-linear-gradient(#aaaeaf, #689ecd);
    background-image: -o-linear-gradient(#aaaeaf, #689ecd);
    background-image: -ms-linear-gradient(#aaaeaf, #689ecd);
    background-image: linear-gradient(#aaaeaf, #689ecd);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.progbox * {
    position: relative;
}

.progbox::before {
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    bottom: 1px;
    content: '';
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.dotborder{
    border-left:1px dotted darkgrey;
    border-right:1px dotted darkgrey;
    border-bottom:1px dotted darkgrey;
}
.expbox{
    border:1px dotted darkgrey;
    margin-top:5px;
    margin-bottom:5px;
    width:92.5%;
    padding:5px;
}
.smexpbox{
    border:1px dotted red;
    margin-top:5px;
    margin-bottom:5px;
    width:92.5%;
    padding:5px;
}
.searchheader{    
    padding: .2em .6em .3em;
    /*font-size: 75%;display: inline;*/
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    /*border-radius: .25em;*/
    background-color: #5cb85c;
    width: 100%;
}
.selected {
      /*border: 1px solid #0000ff;*/
      background-color: grey;
      color: white;
  }
.dropdown-menu{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px -25px 0;
    min-width: 0px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}