main {
    flex: 1 0 auto;
}
    
body{
	font-family: "Gotham",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    font-weight: 100;
    line-height: 1.5;
    color: #494949;
    background-color: #E9E9E9;
    /*background-color: #fafafa;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.nav{
	color: #494949;
	background-color: #fff;/*transparent;*/
}
.nav a{color:#494949;}

.panel-heading{
    font-size: 20px;
}
.logo{
	position: absolute;
    color: #494949;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    padding-left: 5%;
    white-space: nowrap;
}

/*@media (min-width: 768px)*/
@media(min-width:768px){
.herobanner {
    background-image: url("hero.jpg");
}
}
.mainbanner{
    background:white;
    font-family:Designio;
    position:absolute;
    left: 0;
    right: 0;
    padding:15px;
    height:60px;
    background-size:100%;      
}
.herobanner {
    min-height: 26.90909rem;
    padding-top: 6.5rem;
    padding-bottom: 3rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: top;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    margin-top: -19px;
    background-size: cover;    
    position: absolute;
    left: 0;right: 0;
    height: 90%;
}
.text-dark-grey {
    color: #494949;
}
.landing-hero h1 {
    font-size: 3.54545rem;
    line-height: 1;
}
.font-gotham-bold, .logo, .body-content a, .accordion .content h4 {
    font-weight: bold;
}
.text-primary {
    color: #5bbc2e;
}
.lead {
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}
#login form {
    width: auto;
    margin: 4em auto;
    padding: 1em 2em 2em 2em;
    background: #fff;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
form .active{background-color: transparent;}
.group { 
    position: relative; 
    margin-bottom: 45px; 
}
.box-title{
    margin-bottom: 8%;
    padding: 1px;
    border: 1px solid black;
}
.input-field select{
    width: 100%;
    /*padding: 4px;*/
    font-size: 14px;
    background-color: transparent;
    display: block;
    margin-top:0px;
    border: 1px solid #9E9E9E;
    height: 3rem;
}
.collectionselect{
    width: 95%;
    /*padding: 4px;*/
    font-size: 14px;
    background-color: transparent;
    display: block;
    margin-top:0px;
    border: 1px solid #9E9E9E;
    height: 3rem;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.ddmenu {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.ddmenu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 103px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -5px;
}

/* Links inside the dropdown */
.ddmenu-content a {
    padding: 0px 15px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.ddmenu-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.ddmenu:hover .ddmenu-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.ddmenu:hover .dropbtn {
    background-color: #3e8e41;
}*/
.profile-pic{
    position: relative;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.profile-pic-img{
    display: inline-block;
    max-width: 140px;
    max-height: 130px;
    border: 1px solid #e2e2e2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
}
.profile-header{
    position: relative;
    min-height: 117px;
    display: block;
}
.profile-name{
    font-size: 19px;
    letter-spacing: -0.5px;
    line-height: 1.25;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
}
.profile-sidebar{
    background-color: #fff;
    padding: 10px;
    min-height: 200px;
}
.profile-mainbar{
    background-color: #fff;
    padding: 10px;
    min-height: 200px;
}
.hd{
    font-size: 16px;
    font-weight: 600;
}
.profile-body{
    font-size: 14px;
}
.profile-body table td{
    padding: 5px 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
.collection-hd{
    background-color: #fff;
    line-height: 1.5rem;
    padding: 0px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.spacediv{
    margin-bottom:2%;margin-top:2%;
}
.noresult{
    border: 1px solid #e53935;
    padding: 10px;
    margin-top: 2%;
    font-size: 14px;
}