<div class="col-xs-12 col-md-12 col-sm-12 lato" style="margin-bottom:20px;">
	<h3 class="heading orange">List of Categories</h3><hr>
	<table class="table table-bordered" style="width:auto;">
		<% @category.each do |category| %>
			<tr>
				<td><%= category.name %></td>
				<td><%= link_to 'Edit', edit_category_path(category) %></td>
				<td><%= link_to 'Remove', category, method: :delete, data: {confirm: 'Are you sure?'} %></td>
			</tr>	
		<%end%>	
	</table>
</div>