<div class="col-lg-12">
    <ul class="nav navbar-nav profile-nav">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#">My Projects</a></li>
      <li><a href="#">Inbox</a></li>
      <li><a href="#">My Profile</a></li>
    </ul>    
  <span class="tright" style="margin-top:1%;">
    <%= link_to 'Post Project', "#", :class=>"homebutton" %>
  </span>
</div>
<div class="col-lg-12 gradient white lato">
  <div class="padding10">
    <h3 class="padding5">Project Title (Latest)</h3>
  </div>
</div>
<div class="col-lg-12">
    <ul class="nav navbar-nav profile-nav">
      <li class="active"><a href="#">Applicants</a></li>
      <li><a href="#">Project Details</a></li>
    </ul>
</div>
<div class="col-lg-12 tcenter gradient" style="height:230px">
  &nbsp;
</div>
<div class="col-lg-12 tcenter orange">
  <font size="4px;">Need better results? Upgrade your plan for the project to get more enquiries of get in touch with us.</font>
</div>
