<footer class="page-footer" style="background-color: #26A69A;">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/traix-dotin-060417106"><i class="fa fa-lg fa-linkedin"></i></a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://www.facebook.com/traixin-1072502589456598"><i class="fa fa-lg fa-facebook"></i></a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="https://twitter.com/traix_in"><i class="fa fa-lg fa-twitter"></i></a>
          </li>
        </ul>
        <!--p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p-->
      </div>
      <div class="col l4 m4 s12">
        <h5 class="white-text">Traix</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="/programs">Available Training Programs</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/terms-conditions">Terms and Conditions</a>
          </li>
      </div>
      <div class="col l4 m4 s12">
        <h5 class="white-text">About</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact-us">Get in Touch</a></li>
          <li><a class="grey-text text-lighten-3" href="/careers">Careers</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
       Copyright © 2015-2016 Traix.in
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
<!-- old footer
<div class="footerbody" style="margin-top:1%">
 <div class="col-xs-3">
   <h4 style="margin-left:40px;"><b><u>Traix</u></b></h4>
   <ul>
     <li><a href="/programs">Available Training Programs</a></li>
     <%#<li><a href="/pricing">Pricing</a></li>%>
     <li><a href="/privacy-policy">Privacy Policy</a></li>
     <li><a href="/terms-conditions">Terms and Conditions</a></li>
   </ul>
 </div>
 <div class="col-xs-3">
   <h4 style="margin-left:40px;"><b><u>About</u></b></h4>
   <ul>
     <li><a href="/about">About us</a></li>
     <%#<li><a href="#">Report Bug</a></li>%>
     <li><a href="/contact-us">Get in Touch</a></li>
     <li><a href="/careers">Careers</a></li>
   </ul>
 </div>
 <div class="col-xs-3">
 </div>
 <div class="col-xs-3">
   <h4 style="margin-left:15px;"><b><u>Connect</u></b></h4>
   <div class="social">
     <ul>
       <li><a href="https://www.linkedin.com/in/traix-dotin-060417106"><i class="fa fa-lg fa-linkedin"></i></a></li>
       <li><a href="https://www.facebook.com/traixin-1072502589456598"><i class="fa fa-lg fa-facebook"></i></a></li>
       <li><a href="https://twitter.com/traix_in"><i class="fa fa-lg fa-twitter"></i></a></li>
     </ul>
   </div>
 </div>
</div>
-->