<nav role="navigation" class="nav font-gotham-medium">
  <ul class="site-links list-inline pull-left">
  <a href="/" class="logo">Traix</a>
  </ul>

  <ul class="user-links list-inline pull-right">
    <li>
      <%= link_to "Signup","/signup",:class=>"text-uppercase" %>
    </li>
    <li>
      <%= link_to "Login","/login",:class=>"text-uppercase" %>
    </li>
    <li>
      <a class="btn btn-default header-cta-feh" href="/i/howitworks/freelancer/">Become a Freelancer</a>
    </li> 
  </ul>
</nav>